img {
  display: block;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* Page header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.main-container {
}
.header-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.section-one {
  background-color: #2e2f42;
  padding: 188px 0;
}
.header-one {
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;

  max-width: 496px;
  height: 120px;
  margin: 0 auto;
}
.button {
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;

  display: block;
  margin: 48px auto 0 auto;

  color: #fff;
  cursor: pointer;
}

.hader-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

  text-decoration: none;
}
.logo-studio {
  color: #2e2f42;
}
a {
  text-decoration: none; /* Видаляє підкреслення */
}
.nav-list {
  font-family: "Roboto", sans-serif;
}
.navigation-link {
  display: block;
  padding: 24px 0;
  text-decoration: none; /* Прибирає підкреслення */

  font-weight: 500;
  font-size: 16px;

  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.navigation-link:hover {
  font-weight: 500;
  font-size: 16px;

  line-height: 24px;

  letter-spacing: 0.02em;
  color: #404bbf;
}
.navigation-link:focus {
  color: #404bbf;
}
.info-item {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.info-item:hover {
  color: #404bbf;
}
.info-item:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
  margin-left: auto;
}

.header-two {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;

  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-tree {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.button:hover {
  background: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
.list-item {
  background-color: #ffffff;
}

.section-tree {
  background-color: #f4f4fd;
}
.footer {
  background-color: #2e2f42;
}
.footer-paragraf {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
.logo-studio-footer {
  color: #f4f4fd;
}
